.view {
  composes: view from '../../../../style/module/view.css';
  padding: 0;
}

.view p {
  margin: 32px 0;
}

.drag p {
  color: var(--text-color);
}

.drag .actions {
  opacity: 0.25;
  pointer-events: none;
}

.actions button {
  margin: 0;
  width: auto;
}

.view .icon {
  position: relative;
  font-size: 7em;
  color: var(--text-message-color);
}

.view .icon svg {
  display: block;
  margin-bottom: 0;
  opacity: 0.75;
  transform: translateY(0px);
}

.drag .icon svg {
  opacity: 1;
  /*
    animation-name: drop;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: opacity 0.3s ease;
    */
}

@keyframes drop {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(25px);
  }
}
