
*, *::before, *::after {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	min-height: 100%;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	min-height: 100%;
}

/* Make scroll bars small and blue on Chrome */
::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
	background: #61AFEF;
}

.touchLabel {
	display: block;
	position: relative;
	margin: 10px 0;
	padding-left: 5vmin;
	font-size: 4vmin;
	cursor: pointer;
}

.touchLabel::before, .touchLabel::after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}

.touchLabel::before {
	display: block;
	width: 3.5vmin;
	height: 3.5vmin;
	border: 0.5vmin solid white;
	margin: 0;
	padding: 0;
}

.touchLabel::after {
	display: none;
	width: 2vmin;
	height: 2vmin;
	margin: 0;
	padding: 0;
	top: 0.75vmin;
	left: 0.75vmin;
	background-color: #61AFEF;
}

.touchRadioButton + .touchLabel::before,
.touchRadioButton + .touchLabel::after {
	border-radius: 50%;
}

.touchCheckBox, .touchRadioButton {
	position: absolute;
	left: -999px;
}

input:focus + .touchLabel::before {
	border-color: #61AFEF;
}

input:checked + .touchLabel::after {
	display: block;
}

.touchButton {
	appearance: none;
	border: 2px solid white;
	background-color: #61AFEF;
	cursor: pointer;
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
}

.comicPage {
	pointer-events: none;
	width: 100%;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
}

.comicPreviewPortrait {
	border: 1px solid #ABB2BF;
	margin: 10px;
	height: auto;
	width: 8vw;
	min-width: 100px;
}

.comicPreviewLandscape {
	border: 1px solid #ABB2BF;
	margin: 10px;
	margin-left: 21px;
	margin-right: 21px;
	height: auto;
	width: 16vw;
	min-width: 200px;
}

.comicPreviewBox {
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	height: 17vw;
	min-height: 230px;
	font-size: 3vmin;
	color: #ABB2BF;
}

.comicPreviewBoxSelected {
	background-color: #61AFEF;
	color: black;
}

.menuWithGlow {
	box-shadow: 0px 0px 10vh DeepSkyBlue;
}

#welcomeScreen {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 4000;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 7vmin;
	line-height: 10vmin;
	background-color: grey;
}

#welcomeScreen button {
	font-size: 7vmin;
	line-height: 10vmin;
}

#welcomeScreen footer {
	font-size: 4vmin;
	line-height: 10vmin;
}

@media (max-width: 379px) {
	#welcomeScreen {
		font-size: 14px;
	}

	#welcomeScreen button {
		font-size: 14px;
	}

	#welcomeScreen footer {
		font-size: 14px;
	}
}

#totalUsersOnline {
	position: absolute;
	left: 0;
	margin-top: -20px;
	padding-left: 20px;
}

#wallPaper {
	background-color: silver;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#topMenu {
	box-sizing: border-box;
	opacity: 0.9;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 1000;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#topMenuPanel {
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid #61AFEF;
	border-top: 0px;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
}

#topMenuSlider {
	pointer-events: all;
	height: 200px;
}

#topMenuButtons {
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

@media (min-width: 1px) and (max-width: 379px) {
	#topMenuButtons button {
		width: 100%;
		height: 40px;
		font-size: 18px;
	}
}
@media (min-width: 380px) and (max-width: 900px) {
	#topMenuButtons button {
		width: 20%;
		font-size: 5vw;
	}
}
@media (min-width: 901px) {
	#topMenuButtons button {
		width: 18%;
		height: 180px;
		font-size: 46px;
		margin: 1%;
	}
}

#settingsMenu {
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	clear: both;
	border: 1px solid #ABB2BF;
}

#settingsMenu label, #settingsMenu span, #settingsMenu button {
	font-size: 4vmin;
}

@media (min-width: 1px) and (max-width: 379px) {
	#settingsMenu p {
		magin: 0px;
		padding: 0px;
	}

	#settingsMenu label, #settingsMenu span {
		display: block;
	}
}

#libraryMenu {
	height: 400px;
	overflow: hidden;
	overflow-y: scroll;
	clear: both;
	border: 1px solid #ABB2BF;
}

#bottomMenu {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	opacity: 0.9;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 100%;
	min-height: 100px;
	z-index: 1000;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#bottomMenuPanel {
	box-sizing: border-box;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
}

#bottomMenuSlider {
	pointer-events: all;
	height: 200px;
	flex: none;
}

#fileInput {
	display: none;
}

#comicPanel {
	box-sizing: border-box;
	overflow: hidden;
	overflow-x: scroll;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#comicPanel img {
	pointer-events: none;
	width: 100%;
	height: auto;
}

#horizontalScroller {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	height: 100%;
}

.verticalScroller {
	box-sizing: border-box;
	overflow: hidden;
	overflow-y: scroll;
	flex: none;
	width: 100%;
}

#overlayPageNumber {
	pointer-events: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 500;
	color: DeepSkyBlue;
	font-size: 5vw;
	text-shadow: 4px 4px 20px black;
	opacity: 0.5;
}

#loadingProgress {
	pointer-events: none;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 500;
	color: DeepSkyBlue;
	font-size: 5vw;
	text-shadow: 4px 4px 20px black;
	opacity: 0.5;
}
