
html {
	min-height: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	min-height: 100%;
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
}

.comicPage {
	pointer-events: none;
	width: 100%;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
}

.comicPagePreview {
	overflow: hidden;
	float: left;
	min-height: 230px;
}

.comicPagePreview img {
	border: 1px solid black;
	margin: 10px;
}

.comicPagePreviewSelected {
	background-color: DeepSkyBlue;
}

.comicCoverPreviewPortrait {
	border: 1px solid black;
	margin: 10px;
	height: auto;
	width: 100px;
}

.comicCoverPreviewLandscape {
	border: 1px solid black;
	margin: 10px;
	margin-left: 20px;
	margin-right: 20px;
	height: auto;
	width: 200px;
}

.menuWithGlow {
	box-shadow: 0px 0px 200px DeepSkyBlue;
}

.topButton {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 3000;
	opacity: 0.5;
}

.bottomButton {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 3000;
	opacity: 0.5;
}

.sideButton {
	display: flex;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	justify-content: center;
	align-items: center;
	z-index: 3000;
	opacity: 0.5;
}

#inputSelector {
	display: flex;
	text-align: center;
	font: 60px/100px Helvetica, Arial, sans-serif;
	background-color: grey;
	z-index: 4000;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	justify-content: center;
	align-items: center;
}

#inputSelector button {
	font: 60px/100px Helvetica, Arial, sans-serif;
}

#totalUsersOnline {
	float: left;
	color: grey;
}

#versionDate {
	float: right;
	color: grey;
}

#wallPaper {
	background-color: silver;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#topMenu {
	opacity: 0.9;
	position: fixed;
	top: 0px;
	z-index: 1000;
	border: 1px solid DeepSkyBlue;
	border-top: 0px;
	margin: 20px;
	margin-top: 0px;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 0px;
	background: silver;
	text-align: center;
}

#settingsMenu {
	display: none;
	overflow: hidden;
	clear: both;
	border: 1px solid black;
}

#libraryMenu {
	display: none;
	height: 400px;
	overflow: hidden;
	overflow-y: scroll;
	clear: both;
	border: 1px solid black;
}

#bottomMenu {
	overflow-y: scroll;
	opacity: 0.9;
	position: fixed;
	height: 80%;
	min-height: 300px;
	bottom: 0px;
	z-index: 1000;
	border: 1px solid DeepSkyBlue;
	border-bottom: 0px;
	margin: 20px;
	margin-bottom: 0px;
	padding: 20px;
	padding-bottom: 0px;
	background: silver;
	text-align: center;
}

#loadProgress {
	width: 100%;
	display: none;
}

#btnFullScreen, #btnFileLoad, #btnLibrary {
	font: 30px/100px Helvetica, Arial, sans-serif;
}

#btnHomepage, #btnSettings {
	font: 30px/50px Helvetica, Arial, sans-serif;
}

#fileInput {
	display: none;
}

#comicPanel {
	position: absolute;
	/*border: 10px solid orange;*/
	overflow: hidden;
}

#pageContainer {
	/*border: 20px solid black;*/
	overflow: visible;
}

#pageLeft {
	position: absolute;
	text-align: center;
	/*background-color: red;*/
}

#pageMiddle {
	position: absolute;
	text-align: center;
	/*background-color: green;*/
}

#pageRight {
	position: absolute;
	text-align: center;
	/*background-color: blue;*/
}

#overlayPageNumber {
	position: absolute;
	pointer-events: none;
	display: flex;
	justify-content: top;
	align-items: left;
	font: 100px Helvetica, Arial, sans-serif;
	color: DeepSkyBlue;
	text-shadow: 4px 4px 20px black;
	opacity: 0.5;
}

#loadingProgress {
	pointer-events: none;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 500;
	font: 100px Helvetica, Arial, sans-serif;
	color: DeepSkyBlue;
	text-shadow: 4px 4px 20px black;
	opacity: 0.5;
	display: none;
}

#overlayRight {
	position: absolute;
	z-index: 500;
	pointer-events: none;
	border-left: 20px solid DeepSkyBlue;
	opacity: 0.5;
	padding: 0px;
}

#overlayLeft {
	position: absolute;
	z-index: 500;
	pointer-events: none;
	border-right: 20px solid DeepSkyBlue;
	opacity: 0.5;
	margin-left: -20px;
	padding: 0px;
}

#arrowRight {
	padding: 100px;
	margin: 100px;
	border-right: 50px solid DeepSkyBlue;
	border-bottom: 50px solid DeepSkyBlue;
	box-shadow: 10px 10px 20px -10px black;
	width: 100px;
	height: 100px;
	transform: rotate(135deg);
	margin-top: 100px;
	float: left;
}

#arrowLeft {
	padding: 100px;
	margin: 100px;
	border-right:50px solid DeepSkyBlue;
	border-bottom:50px solid DeepSkyBlue;
	box-shadow: 10px 10px 20px -10px black;
	width: 100px;
	height: 100px;
	transform: rotate(-45deg);
	margin-top: 100px;
	float: right;
}

#scrollBar {
	pointer-events: none;
	position: fixed;
	z-index: 500;
	padding: 0px;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: DeepSkyBlue;
	box-shadow: 4px 4px 20px black;
	width: 5px;
	height: 50px;
	opacity: 0.5;
	display: none;
}
