
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
}

.comicImage {
	pointer-events: none;
	width: 100%;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
}

#wallPaper {
	background-color: silver;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#topMenu {
	opacity: 0.9;
	position: fixed;
	top: 0px;
	z-index: 1000;
	border: 1px solid DeepSkyBlue;
	border-top: 0px;
	margin: 20px;
	margin-top: 0px;
	padding: 20px;
	padding-top: 0px;
	box-shadow: 10px 10px 5px black;
	background: silver;
	text-align: center;
}

#loadProgress {
	width: 100%;
	display: none;
}

#btnFullScreen, #btnOpenGithub, #btnFileLoad {
	font: 30px/100px Helvetica, Arial, sans-serif;
}

#fileInput {
	display: none;
}

#comicPanel {
	position: absolute;
	/*border: 10px solid orange;*/
	overflow: hidden;
}

#pageContainer {
	/*border: 20px solid black;*/
	overflow: visible;
}

#pageLeft {
	position: absolute;
	text-align: center;
	/*background-color: red;*/
}

#pageMiddle {
	position: absolute;
	text-align: center;
	/*background-color: green;*/
}

#pageRight {
	position: absolute;
	text-align: center;
	/*background-color: blue;*/
}

#pageOverlay {
	position: absolute;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 100px Helvetica, Arial, sans-serif;
	color: DeepSkyBlue;
	text-shadow: 4px 4px 20px black;
	opacity: 0.5;
}

#pageTurnLeft {
	position: absolute;
	z-index: 500;
	pointer-events: none;
	border-left: 20px solid DeepSkyBlue;
	opacity: 0.5;
	padding: 0px;
}

#pageTurnRight {
	position: absolute;
	z-index: 500;
	pointer-events: none;
	border-right: 20px solid DeepSkyBlue;
	opacity: 0.5;
	margin-left: -20px;
	padding: 0px;
}

#arrowRight {
	padding: 100px;
	margin: 100px;
	border-right: 50px solid DeepSkyBlue;
	border-bottom: 50px solid DeepSkyBlue;
	width: 100px;
	height: 100px;
	transform: rotate(135deg);
	margin-top: 100px;
	float: left;
}

#arrowLeft {
	padding: 100px;
	margin: 100px;
	border-right:50px solid DeepSkyBlue;
	border-bottom:50px solid DeepSkyBlue;
	width: 100px;
	height: 100px;
	transform: rotate(-45deg);
	margin-top: 100px;
	float: right;
}

#scrollBar {
	pointer-events: none;
	position: fixed;
	z-index: 500;
	padding: 0px;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: DeepSkyBlue;
	width: 5px;
	height: 50px;
	opacity: 0.5;
	display: none;
}
