.comic_button {
  border: 0;
  appearance: none;
  padding: 12px 32px;
  margin: 16px;
  cursor: pointer;
  word-wrap: break-word;
  color: white;
  background: #416dea; // var(--main-color);
  font-weight: bold;
  font-family: inherit;
  font-size: 1em;
  max-width: 250px;
  border-radius: 2.5em;
}

.comic_button i {
  margin-right: 16px;
}

.secondary {
  background: #57606f;
}
