@import '~style/helpers';

.comic_button {

	border: 0;
	appearance: none;
	padding: 16px;
	margin: 16px;
	cursor: pointer;
	word-wrap: break-word;
	background: var(--main-color);
	color: inherit;
	font-weight: bold;
	font-family: inherit;
	font-size: 1em;
	max-width: 250px;
	
}

.comic_button i {
	margin-right: 16px;
}


.secondary {
	background: #57606f;
}
