.view {
  position: absolute;
  top: 45px;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.25em;
}

.view h1 i {
  color: var(--text-message-color);
  opacity: 0.5;
}

.view .item {
  display: inline-block;
  margin: 10px;
  float: left;
}

.view .item img {
  border: 1px solid #abb2bf;
  height: auto;
  width: 8vw;
  min-width: 100px;
}
