@import '~style/helpers';

.view {
	position: absolute;
	top: 45px;
	bottom: 0px;
	left: 5%;
	right: 5%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-size: 1.25em;
}

.view .item {
	display: inline-block;
	margin: 10px;
	float: left;
}

.view .item img {
	border: 1px solid #ABB2BF;
	height: auto;
	width: 8vw;
	min-width: 100px;
}
