.view {
  composes: view from '../../style/module/view.css';
  display: block;
  overflow: auto;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.view section {
  background: var(--bg-color);
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 0 5%;
  overflow: hidden;
}

.view section.main {
  font-size: 1.25em;
}

.view h1 {
  font-size: 4vw;
  margin: 0;
}

.view .description {
  font-size: 1.25em;
  padding: 16px;
}

.view p {
  max-width: 720px;
  font-size: 1em;
  margin: 16px 0;
}

.view .focus {
  color: var(--text-color);
  font-weight: bold;
}

.logo {
  max-height: 154px;
  margin: 0;
}

.card {
  padding: 16px;
  border-radius: 8px;
  display: inline-block;
  margin: 32px;
  max-width: 300px;
  background: #fff;
}

.card .thumbnail {
  color: var(--text-message-color);
  font-size: 4em;
}

.card:hover {
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.15);
}

.box {
  display: inline-block;
  vertical-align: middle;
  padding: 16px;
  margin: 16px;
  background: #eee;
  border-radius: 8px;
  font-weight: bold;
}

.view section.light {
  --text-color: #727b85;
  background: #fff;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
