@import '~style/helpers';

.welcome {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 5%;
	right: 5%;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5vmin;
	line-height: 8vmin;
}

.welcome p {
	margin:  0 15%;
}

.welcome button {
	font-size: 7vmin;
	line-height: 10vmin;
}

.welcome footer {
	font-size: 4vmin;
	line-height: 10vmin;
}

@media (max-width: 379px) {
	.welcome {
		font-size: 14px;
	}

	.welcome button {
		font-size: 14px;
	}

	.welcome footer {
		font-size: 14px;
	}
}
