@import '~style/helpers';

.view {
	position: absolute;
	top: 45px;
	bottom: 0px;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-size: 1.25em;
}

.view p {
	margin:  25px;
	color: var(--text-message-color);
}

.view button {
	width: 100%;
}

.view footer {
	font-size: 0.95em;
	line-height: 10vmin;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	margin: auto;
}

/*
@media (max-width: 379px) {
	.welcome {
		font-size: 14px;
	}

	.welcome button {
		font-size: 14px;
	}

	.welcome footer {
		font-size: 14px;
	}
}
*/
