.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toolbar .item {
  margin: 0 8px;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar .item[disabled]{
    opacity: 0.25;
    pointer-events: none;
    text-align: center;
}

.toolbar .item .label {
  font-size: 18px;
  font-weight: bold;
}

.nav {
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
.nav .item {
    margin: 0;
}
