.view {
  position: absolute;
  top: var(--nav-height);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1em;
  overflow: auto;
}

.view p {
  margin: 5%;
  color: #b0b4c4;
  max-width: calc(25em);
  line-height: 1.5;
  word-break: keep-all;
}

.view footer {
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  color: #727b85;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-top: 1px solid #a4b0be66;
}

.view footer a {
  margin: 0 4px;
}

@media (max-width: 400px) {
  .view {
    font-size: 14px;
  }
  .view p {
    max-width: 100%;
  }

  .view button {
    padding: 12px 24px;
    font-size: 16px;
  }

  .view footer {
    font-size: 14px;
    position: static;
  }
}

@media (max-height: 600px) {
  .view footer {
    font-size: 14px;
    position: static;
  }
}
