.view {
  position: absolute;
  top: var(--nav-height);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1em;
  overflow: auto;
}

.view p {
  margin: 5%;
  color: #b0b4c4;
  /*  limit characters per line*/
  max-width: calc(25em);
  line-height: 1.5;
  word-break: keep-all;
}

.view footer {
  font-size: 0.9em;
  width: 100%;
  margin: 0 auto;
  height: var(--nav-height);
  color: #1c1d1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.view footer a {
  margin: 0 4px;
}

@media (max-width: 400px) {
  .view {
    font-size: 14px;
  }
  .view p {
    max-width: 100%;
  }

  .view button {
    font-size: 14px;
  }

  .view footer {
    font-size: 14px;
    position: static;
  }
}

@media (max-height: 600px) {
  .view footer {
    font-size: 14px;
    position: static;
  }
}
