.checkbox {
  --checkbox-bg-color: rgba(164, 176, 190, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 32px 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox:disabled {
  opacity: 0.25;
}

.checkbox input {
  display: none;
}

.checkbox .label {
  padding: 0 16px;
}

.mark {
  position: relative;
  display: block;
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  background-color: var(--checkbox-bg-color);
  flex-shrink: 0;
}

.checkbox input:checked ~ .mark {
  background-color: var(--main-color);
}

.checkbox input:checked ~ .label {
  color: var(--text-color);
}

.checkbox input:checked ~ .mark:after {
  opacity: 1;
}

.checkbox .mark:after {
  position: absolute;
  display: block;
  left: 8px;
  top: 3px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
