.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background: #23262f;
  z-index: 1;
  animation-name: show;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.overlay.hide {
  animation-name: hide;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 0.3s;
}

@keyframes show {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    opacity: 0;
    display: block;
  }

  80% {
    opacity: 1;
    display: block;
    pointer-events: inherit;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
}
