@import '~style/helpers';

.view {
	position: absolute;
	top: 45px;
	bottom: 0px;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-size: 1em;
}

.view p {
	margin:  32px;
	color: var(--text-message-color);
}

.view .title {
	font-size: 1.25em;
}

.view h1 i {
	display: block;
	margin: 32px;
	font-size: 2.5em;
	color: var(--text-message-color);
	opacity: 0.5;
}

.actions {}


.view button {
	width: 100%;
}
