.view {
  composes: view from '../../style/module/view.css';
}

.view .message {
  color: var(--text-message-color);
}

.view .title {
  font-size: 1.25em;
}

.view h1 i {
  display: block;
  margin-bottom: 32px;
  font-size: 2.5em;
  color: var(--text-message-color);
  opacity: 0.5;
}
